a{
    text-decoration: none;
    color: darkslateblue;
}

body{
    background: rosybrown;
}
a:hover{
    color: darkgreen;
}

.films_table{
    font-family: "Gill Sans", serif;
    font-size: x-large;
}

.films_table tr{
}
.films_table tr td{
    border: 3px solid mediumpurple;
}
.user_header{
    flex: 6;
    display: flex;
    width: 100%;
    font-family: "American Typewriter", serif;
    font-size: x-large;
}
.user_header form{margin: 1px;}

.user_header_welcome_phrase{
    flex: 8;
    text-align: center;
    font-size: x-large;
}

.user_header_logout{
    flex: 1;
    font-size: x-large;
}
button{
    background: moccasin;
}
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}
.user_header_main_page:active {
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}

.user_header_main_page{
    flex: 1;
    font-size: large;
}

.user_header_chose_lang{
    text-align: center;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user_header_languages{
    flex: 2;
}

.user_header_change_lang{
    flex: 1;
    margin: auto;
    width: 50%;
}

.admin_header{
    display: flex;
}

.admin_header_controls{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin_header_users{
    margin: auto;
    font-size: large;
}

.admin_header_add_film{
    margin: auto;
    font-size: large;
}